/* 
REGION
    // Fonts
    // @import url('https://fonts.bunny.net/css?family=Nunito');
    // // Bootstrap
    // @import '../../node_modules/bootstrap/scss/bootstrap';
ENDREGION 
*/

@import '../../node_modules/bootstrap/scss/functions';

@import '../../node_modules/bootstrap/scss/variables';

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

$my-spacers: (
    menu-0: 0,
    menu-1: $spacer,
    menu-2: $spacer * 2
);

$spacers: map-merge($spacers, $my-spacers);


@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/tables";

@import "../../node_modules/bootstrap/scss/utilities/api";

// app specific styling

@import "layout";
@import "leave-submission";
@import "access-management/show";

